* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
}

header {
    position: sticky;
    top: 0;
    padding: 20px;
    background: #fff;
}

.panel {
    display: flex;
    justify-content: center;
}

.panel button {
    margin: 0 5px;
}

.info {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

main {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

main > div {
    width: 50%;
    padding: 20px;
}

.label {
    display: block;
    margin-bottom: 12px;
}

textarea {
    width: 100%;
    font-size: 1rem;
    font-family: 'Tahoma', sans-serif;
}

.task {
    margin-bottom: 24px;
}

.input {
    height: 60vh;
    resize: none;
}

.editable {
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    margin-top: 0;
}

.result {
    font-size: 1rem;
}

.info {
    width: 100%;
}

.api {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
}

.key {
    width: 100%;
    max-width: 500px;
    min-height: 30px;
    margin-bottom: 20px;
}

footer {
    width: 100%;
    padding: 20px;
    background: #1d1d1d;
    text-align: center;
    color: #ddd;
}

footer a {
    color: #fff;
}